@import "~js/vars"

*
  font-family $montserrat-regular

html, body, #root
  height 100%

h5
  text-transform uppercase
  text-align center

hr
  display block
  height 1px
  background-color white
  border none
  width 80%
  margin 0 auto

body
  background-color $gray
  margin 0
  font-family $montserrat-regular

